<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="robots" content="noarchive" />
        <meta http-equiv="X-UA-Compatible" content="IE=latest" />
        <link rel="shortcut icon" href="/static/img/favicon.png" />
        {% block styles %}
            <link rel="stylesheet" href="/static/css/base.css">
            <link rel="stylesheet" href="/static/css/bootstrap.css">
        {% endblock %}
        {% block headjs %}
        <script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript">
        var show_virt = {% if show_virt %}{{ "true"|safe }}{% else %}{{ "false"|safe }}{% endif %};</script>
        <script type="text/javascript" src="/static/js/sidebar.js"></script>
        {% endblock %}
        {% block extrastyles %}{% endblock %}
        {% block extrahead %}{% endblock %}
        <title>{% block title %}Kitchen{% endblock %}</title>
    </head>
    <body>
        {% block bodyhead %}
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="/"><img src="/static/img/logo.png">Kitchen</a>
              <div class="nav-collapse">
                {% block topnav %}
                <ul class="nav">
                  <li class="active"><a href="/">List</a></li>
                  {% if show_virt %}<li><a href="/virt/?{{ query_string }}">Virt</a></li>{% endif %}
                  <li><a href="/graph/?{{query_string}}">Graph</a></li>
                </ul>
                {% endblock %}
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
        {% endblock %}
        {% block bodymain %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <ul class="nav nav-list">
                        <li class="nav-header">
                            Environment
                        </li>
                        {% for env in environments %}
                        <li{% if env.name == filter_env %} class="active" {% endif %}>
                            <a href="#" data-type="env" data-name="{{env.name}}" class="sidebar_link">{{env.name}} <span class="badge badge-warning">{{env.counts}}</span></a>
                        </li>{% endfor %}
                        <li class="nav-header">
                            Roles
                        </li>
                        {% for group in roles_groups %}
                        <li{% if group in filter_roles %} class="active" {% endif %}>
                            <a href="#" data-type="roles" data-name="{{group}}" class="sidebar_link">{{group}}</a>
                        </li>{% endfor %}
                        {% if show_virt %}
                        <li class="nav-header">
                            Virtualization
                        </li>
                        {% for virt_role in virt_roles %}
                        <li{% if virt_role in filter_virt %} class="active" {% endif %}>
                            <a href="#" data-type="virt" data-name="{{virt_role}}" class="sidebar_link">{{ virt_role }}</a>
                        </li>{% endfor %}{% endif %}
                        {% block extranav %}{% endblock %}
                    </ul>
                </div>
                <div class="span10">{% if messages %}
                    {% for message in messages %}
                        <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                    {% block bodycontent %}{% endblock %}
                </div>
            </div>
        </div>
        {% endblock %}
        {% block bodytail %}{% endblock %}
    </body>
</html>
