<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="robots" content="noarchive" />
        <meta http-equiv="X-UA-Compatible" content="IE=latest" />
        {% block styles %}
            <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
            <style type="text/css">
              body {
                padding-top: 60px;
                padding-bottom: 40px;
              }
              .sidebar-nav {
                padding: 9px 0;
              }
            </style>
        {% endblock %}
        {% block extrastyles %}{% endblock %}
        {% block extrahead %}{% endblock %}
        <title>{% block title %}Kitchen{% endblock %}</title>
        
    </head>
    <body>
        {% block bodyhead %}
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="#">Kitchen</a>
              <div class="nav-collapse">
                <ul class="nav">
                  <li class="active"><a href="#">List</a></li>
                  <li><a href="#grid">Grid</a></li>
                  <li><a href="#graph">Graph</a></li>
                  <li><a href="#xen">Xen</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
        {% endblock %}
        {% block bodymain %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <ul class="nav nav-list">
                        <li class="nav-header">
                            Header A
                        </li>
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Link 2</a>
                        </li>
                        <li class="nav-header">
                            Header A
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">Link 2</a>
                        </li>
                        <li class="nav-header">
                            Header A
                        </li>
                        <li>
                            <a href="#">6</a>
                        </li>
                        <li>
                            <a href="#">Link 2</a>
                        </li>
                        <li class="nav-header">
                            Header A
                        </li>
                        <li>
                            <a href="#">7</a>
                        </li>
                        <li>
                            <a href="#">Link 2</a>
                        </li>
                    </ul>
                </div>
                <div class="span10">
                    {% block bodycontent %}{% endblock %}
                </div>
            </div>
        </div>
        {% endblock %}
        {% block bodytail %}{% endblock %}
    </body>
</html>