<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="robots" content="noarchive" />
        <meta http-equiv="X-UA-Compatible" content="IE=latest" />
        {% block styles %}
            <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
        {% endblock %}
        {% block extrastyles %}{% endblock %}
        {% block extrahead %}{% endblock %}
        <title>{% block title %}Kitchen{% endblock %}</title>
    </head>
    <body>
        {% block bodyhead %}
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="#">Kitchen</a>
              <div class="nav-collapse">
                <ul class="nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
        {% endblock %}
        {% block bodymain %}
        <div class="container">
            {% block bodycontent %}{% endblock %}
        </div>
        {% endblock %}
        {% block bodytail %}{% endblock %}
    </body>
</html>