{% extends "base.html" %}

{% block topnav %}
<ul class="nav">
  <li><a href="/?{{ query_string }}">List</a></li>
  <li><a href="/virt/?{{ query_string }}">Virt</a></li>
  <li class="active"><a href="/graph/">Graph</a></li>
</ul>
{% endblock %}

{% block extranav %}
<li class="nav-header">
    Options
</li>
<li {% if show_hostnames %} class="active" {% endif %}>
    <a href="#" data-type="options" data-name="show_hostnames" class="sidebar_link">Show Hostnames</a>
</li>
{% endblock %}

{% block bodycontent %}
{% if not messages %}<img src="/static/img/node_map.svg">{% endif %}
{% endblock %}

{% block bodytail %}
<script type="text/javascript">
    $(document).ready(function() {
        setupClickHandlers();
    });
</script>
{% endblock %}
