{% extends "base.html" %}

{% block extrahead %}
    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js/kitchen.js"></script>
{% endblock %}

{% load filters %}
{% block bodycontent %}
    {% if nodes_extended %}
        <table id="nodes" class="table">
            <thead>
                <tr>
                    <th class="node_expand"></th>
                    <th></th>
                    <th class="node_name">Name</th>
                    <th class="node_ip">IP Address</th>
                    <th class="node_env">Environment</th>
                    <th class="node_role">Role</th>
                    <th class="node_recipe">Recipe</th>
                    <th class="node_tags">Tags</th>
                    {% if show_links %}<th class="node_tags"></th>{% endif %}
                </tr>
            </thead>
            {% for node in nodes_extended %}
                <tr>
                    <td class="control"></td>
                    <td>{{ node.name }}</td>
                    <td>{{ node.hostname }}</td>
                    <td>{{ node.ipaddress }}</td>
                    <td>{{ node.chef_environment }}</td>
                    <td>{% for entry in node.run_list|get_role_list %}
                        {{ entry }}show_links{% endfor %}
                    </td>
                    <td>{% for entry in node.run_list|get_recipe_list %}
                        {{entry}}{% if not forloop.last %}, {% endif %}{% endfor %}
                    </td>
                    <td class="node_tags">{% for entry in node.tags %}
                        <a href="#" class="btn btn-custom {{entry|get_tag_class}} disabled">{{entry}}</a>{% endfor %}
                    </td>
                    {% if show_links %}<td class="node_tags">{% for entry in node.kitchen.data.links %}{{entry|get_link|safe}}{% endfor %}</td>{% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block bodytail %}
<script type="text/javascript">
    $(document).ready(function() {
        nodes = {{nodes|safe}};
        setupClickHandlers();
        drawNodeListTable(getSearchText());
    });
</script>
{% endblock %}
