{% extends "base.html" %}
{% load filters %}

{% block extrahead %}
    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block topnav %}
    <ul class="nav">
        <li><a href="/?{{query_string}}">List</a></li>
        <li class="active"><a href="/virt/">Virt</a></li>
        <li><a href="/graph/?{{query_string}}">Graph</a></li>
    </ul>
{% endblock %}

{% block bodycontent %}
    {% if nodes %}
        <table id="nodes" class="table">
            <thead>
                <tr>
                    <th class="node_name">Name</th>
                    <th class="node_ip">IP Address</th>
                    <th class="node_env">Environment</th>
                    <th class="node_role">Role</th>
                    <th class="node_recipe">Recipe</th>
                </tr>
            </thead>
            <tbody>
            {% for node in nodes %}
                <tr class="node_row">
                    <td class="node_name">
                        {{ node.hostname }}
                    </td>
                    <td class="node_ip">
                        {{ node.ipaddress }}
                    </td>
                    <td class="node_env">
                        {{ node.chef_environment }}
                    </td>
                    <td class="node_role">
                        {% for entry in node.run_list|get_role_list %}
                            {{ entry }}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td class="node_recipe">
                        {% for entry in node.run_list|get_recipe_list %}
                            {{ entry }}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% for vm in node.virtualization.vms %}
                    <tr>
                        <td class="vm_fqdn">
                            {{ vm.fqdn }}
                        </td>
                        <td class="vm_ram">
                            {{ vm.RAM }} MB
                        </td>
                        <td class="vm_cpus">
                            {{ vm.cpus }} CPUs
                        </td>
                        <td  class="vm_role">
                            {% for entry in vm.run_list|get_role_list %}
                                {{ entry }}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td class="vm_recipe">
                            {% for entry in vm.run_list|get_recipe_list %}
                                {{ entry }}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block bodytail %}
<script type="text/javascript">
    $(document).ready(function() {
        setupClickHandlers();
        $('#nodes').dataTable({
            "bPaginate": false,
            "oLanguage": {
                "sInfo" : "Showing _TOTAL_ nodes",
                "sInfoEmpty": "No nodes found",
            },
            "sDom": '<"top"i>rt<"bottom"lp><"clear">'
        });
    });
</script>
{% endblock %}
