{% extends "base.html" %}
{% load filters %}

{% block extrahead %}
    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block topnav %}
    <ul class="nav">
        <li><a href="/?{{query_string}}">List</a></li>
        <li class="active"><a href="/virt/">Virt</a></li>
        <li><a href="/graph/?{{query_string}}">Graph</a></li>
    </ul>
{% endblock %}

{% block bodycontent %}
    {% if nodes_extended %}
        <table id="nodes" class="table">
            <thead>
                <tr>
                    <th class="node_name">Host</th>
                    <th class="node_name">Name</th>
                    <th class="node_ip">IP</th>
                    <th class="node_ram">Ram</th>
                    <th class="node_cpus">CPUs</th>
                    <th class="node_env">Environment</th>
                    <th class="node_role">Role</th>
                    <th class="node_recipe">Recipe</th>
                    <th class="node_tags">tags</th>
                </tr>
            </thead>
            <tbody>
            {% for node in nodes_extended %}
                <tr id="host_row">
                    <td>{{ node.name }}</td>
                    <td>{{ node.name }}</td>
                    <td>{{ node.ipaddress }}</td>
                    <td>{{ node.memory.total|get_memory_in_GB }}</td>
                    <td>{{ node.cpu.total }} CPUs</td>
                    <td>{{ node.chef_environment }}</td>
                    <td>
                        {% for entry in node.run_list|get_role_list %}
                            {{ entry }}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for entry in node.run_list|get_recipe_list %}
                            {{ entry }}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for entry in node.tags %}
                            <a href="#" class="btn disabled">{{entry}}</a>
                        {% endfor %}
                    </td>
                </tr>
                 {% for vm in node.virtualization.guests %}
                    <tr>
                        <td>{{ node.name }}</td>
                        <td>{{ vm.fqdn }}</td>
                        <td>{{ node.ipaddress }}</td>
                        <td>{{ vm.memory.total|get_memory_in_GB }}</td>
                        <td>{{ vm.cpu.total }} CPUs</td>
                        <td>{{ node.chef_environment }}</td>
                        <td>
                            {% for entry in vm.run_list|get_role_list %}
                                {{ entry }}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for entry in vm.run_list|get_recipe_list %}
                                {{ entry }}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                        {% for entry in vm.tags %}
                            <a href="#" class="btn disabled">{{entry}}</a>
                        {% endfor %}
                    </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block bodytail %}
<script type="text/javascript">
    $(document).ready(function() {
        setupClickHandlers();
        $('#nodes').dataTable({
            "fnDrawCallback": function (oSettings) {
                if (oSettings.aiDisplay.length == 0) {
                    return;
                }
                var nTrs = $('#nodes tbody tr');
                var iColspan = nTrs[0].getElementsByTagName('td').length;
                var sLastGroup = "";
                for (var i=0;i<nTrs.length;i++) {
                    var iDisplayIndex = oSettings._iDisplayStart + i;
                    var sGroup = oSettings.aoData[oSettings.aiDisplay[iDisplayIndex]]._aData[0];
                    if (sGroup != sLastGroup) {
                        var nGroup = document.createElement('tr');
                        var nCell = document.createElement('td');
                        nCell.colSpan = iColspan;
                        nCell.id = "host_grouper";
                        nCell.innerHTML = sGroup;
                        nGroup.appendChild(nCell);
                        nTrs[i].parentNode.insertBefore(nGroup, nTrs[i]);
                        sLastGroup = sGroup;
                    }
                }
            },
            "bPaginate": false,
            "oLanguage": {
                "sSearch": "",
                "sInfo" : "Showing _TOTAL_ nodes",
                "sInfoEmpty": "No nodes found",
                "sInfoFiltered": " (filtering from _MAX_ total)",
                "sZeroRecords": "No nodes to display"
            },
            "aoColumnDefs": [
                { "bVisible": false, "aTargets": [ 0 ] }
            ],
            "aaSortingFixed": [[ 0, 'asc' ]],
            "aaSorting": [[ 1, 'asc' ]],
            "sDom": '<"top"if>rt<"bottom"lp><"clear">'
        });

        $('#nodes_filter input').attr("placeholder", "Search nodes");
        $('#nodes_filter input:text').focus();
    });
</script>
{% endblock %}