body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.sidebar_link {
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.sidebar_link .badge {
    padding: 0px 7px;
}

.brand img {
    margin: -10px 12px;
}
.badge { float: right; }

p.notfound {
    padding: 3px 15px;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #999;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

p.notfound img {
    margin-right: 1em;
}

.btn-custom {
  padding: 3px 7px !important;
}

table#nodes th { cursor: pointer; width: 11em; }

table#nodes tr.guest td:first-child { padding-left: 2em; }

table#nodes td.node_tags { padding: 4px !important; }

table#nodes td.control { cursor: pointer; }

th.node_expand { width: 1em !important; background: transparent !important;}

th.node_ram, th.node_cpus { width: 5em !important; }

td.node_cpus { text-align: right !important; padding-right: 3.2em !important;}

#host_grouper {
    background-color: #EEE9E9;
    border-bottom: 1px solid #E1E1E8;
    border-top: 1px solid #E1E1E8;
    opacity: 0.6;
}

#host_row {
    background-color: #F7F7F9;
}

div.dataTables_info {
    float: right;
}

div.dataTables_filter {
    float: left;
}

input::-webkit-input-placeholder {
    color:#cdc9c9;
}
input:-moz-placeholder {
    color:#cdc9c9;
}

/*JSON highlighning */
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }


/* Bootstrap DataTables sorting */
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
    opacity: .9;
} 
table.table thead .sorting { background: url('../img/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../img/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../img/sort_desc.png') no-repeat center right; } 
table.table thead .sorting_asc_disabled { background: url('../img/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../img/sort_desc_disabled.png') no-repeat center right; }


/* Bootstrap icons override*/
.icon-chevron-right, .icon-chevron-down {
  opacity: .25;
}
.icon-chevron-right:hover, .icon-chevron-down:hover {
  opacity: .75;
}
