body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.sidebar_link {
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.sidebar_link .badge {
    padding: 0px 7px;
}

.brand img {
    margin: -10px 12px;
}
.badge {
    float: right;
}

.node_name, .node_ip,
.node_env, .node_role,
.node_recipe {
    width: 16em;
}

p.notfound {
    padding: 3px 15px;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #999;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

p.notfound img {
    margin-right: 1em;
}

table#nodes th { cursor: pointer; }

div.dataTables_info {
    float: right;
}

div.dataTables_filter {
    float: left;
}

input::-webkit-input-placeholder {
    color:#cdc9c9;
}
input:-moz-placeholder {
    color:#cdc9c9;
}

.expanded_node table{
    float: left;
    margin-right: 50px;
}
