body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.sidebar_link {
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.sidebar_link .badge {
    padding: 0px 7px;
}

.brand img {
    margin: -10px 12px;
}
.badge {
    float: right;
}

.node_name, .node_ip,
.node_env, .node_role,
.node_recipe, .node_grouper {
    width: 16em;
}

.vm_fqdn, .vm_ram,
.vm_cpus, .vm_role,
.vm_grouper {
    width: 17em;
}

p.notfound {
    padding: 3px 15px;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #999;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

p.notfound img {
    margin-right: 1em;
}

table#nodes th { cursor: pointer; }

div.dataTables_info {
    float: right;
}

div.dataTables_filter {
    float: left;
}

input::-webkit-input-placeholder {
    color:#cdc9c9;
}
input:-moz-placeholder {
    color:#cdc9c9;
}

/*JSON highlighning */
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

#host_grouper{
    background-color: #cdc9c9;
    border-bottom: 1px solid #A19B9E;
    border-top: 1px solid #A19B9E;
    cursor: pointer;
    font-weight: bold;
}

#host_row{
    background-color:#eee9e9;
}
